  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
  }

  body {
    height: 100vh;
    background-color: #F2F3F4;
  }

  header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F2F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  header .logo {
    margin-left: 35px;
    font-size: 32px;
    font-weight: 900;
    color: #000;
    transition: .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: sans-serif;
  }

  header .logo: hover {
    transform: scale(1.5);
  }

  header nav ul li {
    position: relative;
    float: left;
    padding: 8px 10px 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 20px;
  }

  .content {
    margin: 90px 0 0 0;
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }

  .sidebar p {
    background-color: #17202A;
    color: #F2F3F4;
    width: 370px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
  }

  header nav ul li img {
    height: 35px;
    width: 35px;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  header nav ul li div {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
  }

  header nav ul li:hover {
    background-color: #F2F3F4;
    color: #fff;
    transform: scale(0.88);
  }

  .container {
    margin-top: 15px;
    display: grid;
    justify-content: center;
  }

  .button {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #47BDFF;
    padding-top: 20px;
    font-weight: 300;
    width: 1000px;
    height: 60px;
    justify-content: center;
    outline: none;
  }
  .report-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 1.5rem;
    background-color: #F2F3F4;
    color: #47BDFF;
    font-weight: 1000;
    width: 500px;
    height: 40px;
    justify-content: center;
    outline: none;
    margin-bottom: 70px;
  }

  .report-button:hover {
    background-color: #EBF5FB;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .nav-name {
    padding-right: 65px;
    font-weight: 1000;
    font-size: 18px;
  }

  .description {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 700px;
    text-align: center;
    transform: translate(-50%, -50%);
  }

