  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
  }

  body {
    height: 100vh;
    background-color: #F2F3F4;
  }

  header {
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F2F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  header .logo {
    margin-left: 35px;
    font-size: 32px;
    font-weight: 900;
    color: #000;
    transition: .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: sans-serif;
  }

  header .logo:hover {
    transform: scale(0.78);
  }

  header nav ul li {
    position: relative;
    float: left;
    padding: 8px 10px 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 20px;
  }

  header nav ul li img {
    height: 28px;
    width: 28px;
    color: #000;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  header nav ul li div {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
  }

  header nav ul li:hover {
    background-color: #F2F3F4;
    color: #fff;
    transform: scale(0.88);
  }

  div[class="page-name"] {
    font-weight: 500;
    font-size: 16px;
    color: #F2F3F4;
  }

  form[class="profile-form"] {
    position: fixed;
    margin-top: 30px;
    margin-left: 60px;
    background-color: #fff;
    height: 650px;
    width: 930px;
    justify-content: center;
  }

  form[class="history-form"] {
    position: fixed;
    display: flex;
    margin-top: 30px;
    margin-left: 1030px;
    background-color: #fff;
    height: 650px;
    width: 350px;
    justify-content: center;
  }

  .history-form h3 {
    margin-top: 10px;
    text-color: #000;
  }

  form div[class="icon"] {
    position: fixed;
    margin-top: 40px;
    margin-left: 40px;
  }

  form img[class="image"] {
    width: 300px;
    width: 300px;
    border: 1px solid #fff;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  form div div input[class="form-input"] {
    display: block;
    width: 400px;
    height: 50px;
    font-weight: 0;
    margin-bottom: 50px;
    background-color: #fff;
    font-size: 18px;
    padding: 15px;
    color: #23262A;
    border: none;
    border-bottom: 1px solid grey;
  }

  form div span[class="raw-span"] {
    display: block;
    font-weight: 0;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 18px;
    padding: 0px;
    color: #23262A;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  form div[class="data"] {
    position: fixed;
    flex-direction: column;
    align-items: center;
    margin-left: 440px;
    margin-top: 110px;
  }

  form div[class="role-group"] {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 360px;
  }

  form div div input[class="form-input"]:focus {
    outline: none;
  }

  .profile-form button {
    position: fixed;
    width: 350px;
    height: 60px;
    margin-top: 570px;
    margin-left: 280px;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    color: #3390EC;
    background-color: #fff;
    border: none;
  }

  .profile-form button:hover {
    background-color: #EBF5FB;
  }

  .title h3 {
    position: fixed;
    color: #000;
    margin-left: 550px;
    margin-bottom: 0px;
    margin-top: 10px;
  }