* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
  }

  body {
    height: 100vh;
    background-color: #F2F3F4;
  }

  header {
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F2F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  header .logo {
    margin-left: 35px;
    font-size: 32px;
    font-weight: 900;
    color: #000;
    transition: .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: sans-serif;
  }

  header .logo: hover {
    transform: scale(1.5);
  }

  header nav ul li {
    position: relative;
    float: left;
    padding: 8px 10px 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 20px;
  }

  .groups-bar {
    margin-left: 10px;
    margin-top: 10px;
  }

  header nav ul li img {
    height: 28px;
    width: 28px;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  header nav ul li div {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
  }

  .side-button {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #47BDFF;
    padding-top: 5px;
    font-weight: 300;
    width: 200px;
    height: 30px;
    justify-content: center;
    outline: none;
  }

  .button {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #47BDFF;
    padding-top: 20px;
    font-weight: 300;
    width: 1000px;
    height: 60px;
    justify-content: center;
    outline: none;
  }