{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <title>AWST</title>
      <link rel="stylesheet" href="{% static 'css/students.css' %}">
  </head>
  <body>
    <div class="content">
        <header>
            <div class="rectangle">
                <a href="{% url 'students:show_students'%}" class="logo">AWST</a>
            </div>
            <div class="navbar-container">
                <nav class="navbar">
                    <ul>
                        <a href="{% url 'user:profile' %}">
                            <li class="setting">
                                <img src="{% static 'files/settings-icon.svg' %}" alt="img">
                            </li>
                        </a>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div class="sidebar">
        <p>Группа: {{ group }}</p>
    </div>
    <div class="container">
        {% for student in students %}
            <a class="button" href="{% url 'students:show_info_about_student' last_name=student.last_name %}">
                <p class="name">{{ student.last_name }} {{ student.first_name }} {{ student.otchestvo }}</p>
            </a>
        {% endfor %}
<!--      <div class="popup" id="popup">-->
<!--        <div class="popup-inner">-->
<!--          <div class="popupphoto">-->
<!--            <img src="https://images.pexels.com/photos/193349/pexels-photo-193349.jpeg?cs=srgb&dl=access-algorithm-binary-193349.jpg&fm" alt="">-->
<!--          </div>-->
<!--          <div class="popuptext">-->
<!--            <h1>Пользовательский опыт</h1>-->
<!--            <p>Время ожидания - это среднее количество времени, которое пользователи проводят на странице перед тем, как вернуться или завершить сеанс. Время ожидания является одним из ключевых показателей того, что посетители довольны своим опытом в Интернете. <a href="http://zornet.ru/">ZorNet.Ru — сайт для вебмастера</a></p>-->
<!--          </div>-->
<!--          <a class="closepopup" href="">x</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </body>
</html>