{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWST</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<form class="login-form" method="POST">
    <h3>AWST</h3>
    <br>
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <br>
    <div class="checkbox">
        <input class="save-entrance" type="checkbox">
        <label>Сохранить вход</label>
    </div>
    <br>
    <button>ВОЙТИ</button>
</form>
</body>
</html>