{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>AWST</title>
      <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  </head>
  <body>
    <div class="content">
        <header>
            <div class="rectangle">
                <a href="{% url 'students:show_students' %}" class="logo">AWST</a>
            </div>
            <div class="page-name">
                <span style="color: #000; margin-right: 70px; font-size: 17px;">Личный кабинет</span>
            </div>
            <div class="navbar-container">
                <nav class="navbar">
                    <ul>
                        <a href="{% url 'user:profile' %}">
                            <li class="item">
                                <img src="{% static 'files/settings-icon.svg' %}" alt="img">
                            </li>
                        </a>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="form">

            <form class="profile-form" action="{% url 'user:profile' %}" method="POST">
                {% csrf_token %}
                <div class="icon">
                    <img class="image" src="{% static 'files/test.jpg' %}">
                </div>
                <div class="title">
                    <h3>Информация</h3>
                </div>
                <div class="role-group" style="width: 300px;">
                    <span class="raw-span">Роль: {{ role }}</span>
                    <span class="raw-span">Группа: {{ group }}</span>
                </div>
                <div class="data">
                    <div class="firstname">
                        {{ form.first_name }}
                    </div>
                    <div class="lastname">
                        {{ form.last_name }}
                    </div>
                    <div class="email">
                        {{ form.email }}
                    </div>
                    <div class="username">
                        {{ form.username }}
                    </div>
                </div>
                <div class="button">
                        <button value="Сохранить">Сохранить</button>
                </div>
            </form>
            </div>
        <div class="history-container">
            <form class="history-form">
                <h3>История</h3>
            </form>
        </div>
    </div>
  </body>
</html>