{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>AWST</title>
      <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  </head>
  <body>
    <div class="content">
        <header>
            <div class="rectangle">
                {% if role == "Куратор" %}
                    <a href="{% url 'students:show_students' %}" class="logo">AWST</a>
                {% elif role == "Социальный педагог" %}
                    <a href="{% url 'students:show_social_teacher_page' %}" class="logo">AWST</a>
                {% elif role == "Педагог-психолог" %}
                    <a href="{% url 'students:show_psychologist_page' %}" class="logo">AWST</a>
                {% endif %}
            </div>
            <div class="page-name">
                <span style="color: #000; margin-right: 70px; font-size: 17px;">Личный кабинет</span>
            </div>
            <div class="navbar-container">
                <nav class="navbar">
                    <ul>
                        <a href="{% url 'user:profile' %}">
                            <li class="item">
                                <img src="{% static 'files/settings-icon.svg' %}" alt="img">
                            </li>
                        </a>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="form">
            <form class="profile-form" action="{% url 'user:profile' %}" method="POST">
                {% csrf_token %}
                <div class="icon">
                    <img class="image" src="{% static 'files/test.jpg' %}">
                </div>
                <div class="title">
                    <h3>Информация</h3>
                </div>
                <div class="data">
                    <div class="bordered-input">
                        {{ form.last_name }}
                        <span class="label-text">Фамилия</span>
                    </div>
                    <div class="bordered-input">
                        {{ form.first_name }}
                        <span class="label-text">Имя</span>
                    </div>
                    <div class="bordered-input">
                        {{ form.username }}
                        <span class="label-text">Имя пользователя</span>
                    </div>
                    <div class="bordered-input">
                        {{ form.email }}
                        <span class="label-text">Почта</span>
                        {% if form.email.errors %}
                            <ul class="errorlist">
                              {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                    </div>
                    <div class="bordered-input">
                        {{ form.role }}
                        <span class="label-text">Роль</span>
                    </div>
                    {% if role == "Куратор" %}
                    <div class="bordered-input">
                        {{ form.group_number }}
                        <span class="label-text">Группа</span>
                    </div>
                    {% endif %}
                </div>
                <div class="button">
                    <button type="submit" value="Сохранить">Сохранить</button>
                </div>
            </form>
           <a class="logout-button" href="{% url 'user:logout' %}">
               <span>Выйти</span>
           </a>
        </div>
        <div class="history-container">
            <form class="history-form">
                <h3>История</h3>
            </form>
        </div>
    </div>
  </body>
</html>