{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <title>AWST</title>
      <link rel="stylesheet" href="{% static 'css/students.css' %}">
  </head>
  <body>
        <header>
            <div class="rectangle">
                <a href="{% url 'students:show_curator_page'%}" class="logo">AWST</a>
            </div>
            <div class="navbar-container">
                <nav class="navbar">
                    <ul>
                        <a href="{% url 'user:profile' %}">
                            <li class="setting">
                                <img src="{% static 'files/settings-icon.svg' %}" alt="img">
                            </li>
                        </a>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <div class="sidebar">
                <p>Группа: {{ group.group_number }}</p>
            </div>
            <div class="container">
                {% for student in students %}
                    <a class="button" href="{{ student.get_url }}">
                        <p class="name">{{ student.last_name }} {{ student.first_name }} {{ student.otchestvo }}</p>
                    </a>
                {% endfor %}
            </div>
            <div class="container">
            <a class="report-button" href="{% url 'students:show_group_reports' group=group %}">
                <p class="name">Посмотреть отчеты</p>
            </a>
        </div>
        </div>
  </body>
</html>