{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWST</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<form class="login-form" method="POST">
    <h3>AWST</h3>
    <br>
    {% csrf_token %}
    <div class="bordered-input">
        {{ form.username }}
        <span class="label-text">Логин</span>
    </div>
    <div class="bordered-input">
        {{ form.password }}
        <span class="label-text">Пароль</span>
    </div>
    <button type="submit">ВОЙТИ</button>
</form>
</body>
</html>