{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>AWST</title>
      <link rel="stylesheet" href="{% static 'css/profile.css' %}">
      <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <div class="content">
        <header>
            <div class="rectangle">
                {% if user.role == "Куратор" %}
                    <a href="{% url 'students:show_curator_page' %}" class="logo">AWST</a>
                {% elif user.role == "Социальный педагог" %}
                    <a href="{% url 'students:show_social_teacher_page' %}" class="logo">AWST</a>
                {% elif user.role == "Педагог-психолог" %}
                    <a href="{% url 'students:show_psychologist_page' %}" class="logo">AWST</a>
                {% endif %}
            </div>
            <span class="nav-name">Личный кабинет</span>
            <div class="navbar-container">
            <nav class="navbar">
                <ul>
                    <a href="{% url 'user:spravka' %}">
                        <li class="item">
                            <img src="{% static 'files/info.svg' %}" alt="img">
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        </header>
        <div class="forms-container">
            <form class="profile-form" action="{% url 'user:profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form">
                    <div class="image-wrapper">
                        <div class="icon">
                            <img class="image" src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'files/no-photo.png' %} {% endif %}">
                        </div>
                        <div class="image-file">
                                {{ form.image }}
                            <label for="id_image" class="custom-file-upload">Выбрать изображение</label>
                        </div>
                    </div>
                    <div class="inputs-container">
                        <div class="data">
                            <div class="bordered-input">
                                {{ form.last_name }}
                                <span class="label-text">Фамилия</span>
                            </div>
                            <div class="bordered-input">
                                {{ form.first_name }}
                                <span class="label-text">Имя</span>
                            </div>
                            <div class="bordered-input">
                                {{ form.username }}
                                <span class="label-text">Имя пользователя</span>
                            </div>
                            <div class="bordered-input">
                                {{ form.email }}
                                <span class="label-text">Почта</span>
                                {% if form.email.errors %}
                                    <ul class="errorlist">
                                      {% for error in form.email.errors %}
                                        <li>{{ error }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                            </div>
                            <div class="bordered-input">
                                {{ form.role }}
                                <span class="label-text">Роль</span>
                            </div>
                            {% if user.role == "Куратор" %}
                            <div class="bordered-input">
                                {{ form.group_number }}
                                <span class="label-text">Группа</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <a class="logout-button" href="{% url 'user:logout' %}">
                        <span>Выйти</span>
                    </a>
                    <button class="save-button" type="submit" value="Сохранить">Сохранить</button>
                </div>
            </form>
            <div class="left-container">
            <div class="history-container">
                <div class="container-name">
                    <h4>История изменений</h4>
                </div>
                <div class="links-container">
                    <div class="student-name">
                        <p class="date">Дата</p>
                        <p class="date">Фамилия</p>
                        <p class="date">Имя</p>
                    </div>
                    {% for history in histories %}
                    <a class="student-link" href="{% url 'students:show_info_about_student' group=history.group_number last_name=history.last_name %}">
                        <p class="date">{{ history.history_date }}</p>
                        <p class="date">{{ history.last_name }}</p>
                        <p class="date">{{ history.first_name }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            </div>
    </div>
  </body>
</html>