{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWST</title>
    <link rel="stylesheet" href="{% static 'css/spravka.css' %}">
</head>
<body>
    <div class="content">
        <header>
            <div class="rectangle">
                {% if user.role == "Куратор" %}
                    <a href="{% url 'students:show_curator_page' %}" class="logo">AWST</a>
                {% elif user.role == "Социальный педагог" %}
                    <a href="{% url 'students:show_social_teacher_page' %}" class="logo">AWST</a>
                {% elif user.role == "Педагог-психолог" %}
                    <a href="{% url 'students:show_psychologist_page' %}" class="logo">AWST</a>
                {% endif %}
            </div>
            <span class="nav-name">О приложении</span>
            <nav class="navbar">
                <ul>
                    <a href="{% url 'user:profile' %}">
                        <li class="item">
                            <img src="{% static 'files/settings-icon.svg' %}" alt="img">
                        </li>
                    </a>
                </ul>
            </nav>
        </header>
        <div class="info-container">
            <div class="info">
              <h3 style="margin: 0 0 30px 0">Приложение "AWST" разработано в рамках дипломной работы учащегося Ваканова Владислава Александровича в УО МГК цифровых технологий. Это веб-приложение, предназначенное для автоматизации работы социального педагога в колледже.</h3>
                <h3 style="margin: 0 0 20px 0">Основные функции:</h3>
                  <h3>1. Создание социальных паспортов: Приложение позволяет социальному педагогу создавать электронные социальные паспорта для студентов. В паспорте содержится информация о студенте, включая данные о его социальном статусе, семейной ситуации, особых потребностях и других важных аспектах, которые помогают педагогу лучше понять и поддержать студента.</h3>
                  <br>
                  <h3>2. Учет студентов: Приложение предоставляет удобный способ вести учет студентов, их социальной информации и истории взаимодействия с педагогом. Педагог может добавлять новых студентов, обновлять информацию и делать записи о встречах, консультациях и других событиях.</h3>
                  <br>
                  <h3>3. Генерация отчетов: Приложение обеспечивает возможность генерации отчетов на основе данных, содержащихся в социальных паспортах. Педагог может создавать отчеты о студентах, анализировать статистику и оценивать эффективность своей работы.</h3>
            </div>
        </div>
    </div>
</body>
</html>